<html lang="en">
<head>
    <title>GuestBook</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h2>Guest book</h2>
<hr>
<h3>Leave feedback</h3>

<form action="/guestbook" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" size="23">
    <br>
    <label for="msg">Message:</label>
    <textarea id="msg" name="message"></textarea>
    <br>
    <label for="rating">Rating:</label>
    <select id="rating" name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
    </select>
    <br>
    <button type="submit">Send</button>
</form>

<h3>Feedbacks</h3>
<table>
    <#list entries as entrie>
        <tr>
            <td> ${entrie.date} </td>
            <td>name= ${entrie.name} </td>
            <td>message= ${entrie.message} </td>
            <td>rating = ${entrie.rating} </td>
        </tr>
    </#list>
</table>
<#if page!=1>
    <a href="?page=1&itemPerPage=${itemPerPage}"> First</a>
    |<a href="?page=${page-1}&itemPerPage=${itemPerPage}"> Prev</a>
</#if>
<#list 1..pages as i>
    |<a href="?page=${i}&itemPerPage=${itemPerPage}">
    <#if i=page><b></#if>
        ${i}
        <#if i=page></b></#if>
     </a>
</#list>
<#if page!=pages>
    |<a href="?page=${page+1}&itemPerPage=${itemPerPage}"> Next</a>
    |<a href="?page=${pages}&itemPerPage=${itemPerPage}"> Last</a>
</#if>
</body>
</html>
