<html lang="en">
<head>
    <title>GuestBook</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery-3.6.0.js"></script>
    <script src="js/main.js"></script>
</head>

<body>
<h2>Guest book</h2>
<hr>
<h3>Leave feedback</h3>

<form id="form">
    <div class="mb-3">
    <label for="name" class="form-label">Name:</label>
    <input type="text" id="name" name="name" size="23" class="form-control">
    </div>
    <div class="mb-3">
    <label for="msg" class="form-label">Message:</label>
    <textarea id="message" name="message" class="form-control"></textarea>
    </div>
    <div class="mb-3">
    <label for="rating" class="form-label">Rating:</label>
        <select id="rating" name="rating" class="form-control">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
    </select>
    </div>
    <div class="mb-3">
    <button type="submit" class="btn btn-info">Send</button>
    </div>
</form>

<h3>Feedbacks</h3>
<div id="feedbacks"></div>
</table>
<button onclick="showFeedbacks()" class="btn-warning"  type="button">Show more</button>
</body>
</html>
